* {
  scroll-behavior: smooth !important;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "sf-Pro";
  src: url(/assets/font/SFPRODISPLAYREGULAR.OTF);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_text_image {
  -webkit-background-clip: text;
  background-size: 100% 100%;
}
@media (max-width: 430px) {
  .text_40 {
    font-size: 40px !important;
  }
}
