* {
  scroll-behavior: smooth !important;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "sf-Pro";
  src: url(/assets/font/SFPRODISPLAYREGULAR.OTF);
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_text_image {
  -webkit-background-clip: text;
  background-size: 100% 100%;
}
/* ===================================== PRELOADER ===================================== */

.not-scroll-before-loading {
  overflow: hidden;
  height: 100vh;
}
/* PRELOADER ANIMATIONS CSS */
@-webkit-keyframes follow-the-leader {
  0% {
    -webkit-transform: rotate(0deg) translateY(-200%);
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    -webkit-transform: rotate(360deg) translateY(-200%);
    transform: rotate(360deg) translateY(-200%);
  }
}

@keyframes follow-the-leader {
  0% {
    -webkit-transform: rotate(0deg) translateY(-200%);
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    -webkit-transform: rotate(360deg) translateY(-200%);
    transform: rotate(360deg) translateY(-200%);
  }
}

.follow-the-leader div {
  -webkit-animation: follow-the-leader 1.875s infinite backwards;
  animation: follow-the-leader 1.875s infinite backwards;
  background-color: #ffffff;
  border-radius: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.follow-the-leader div:nth-child(1) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  background-color: rgba(255, 255, 255, 0.9);
}

.follow-the-leader div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
}

.follow-the-leader div:nth-child(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: rgba(255, 255, 255, 0.7);
}

.follow-the-leader div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: rgba(255, 255, 255, 0.6);
}

.follow-the-leader div:nth-child(5) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  background-color: rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes loader-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes loader-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* sidebar */
@media (max-width: 768px) {
  .nav_show {
    clip-path: circle(0px at calc(100% - 45px) 45px);
  }
  .nav_show.show {
    clip-path: circle(75%);
  }
}
